# Dependencies
node_modules/

# Uploaded files
uploads/

# Temporary edited files
temp/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/
*.swp
*.swo
*~
